$profile-info-color: #2b2b2b;

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px;
}

.profile-img {
  margin-bottom: 15px;

  img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }
}

.profile-info {
  color: $profile-info-color;
  font-size: .8rem;

  h6 {
    margin-bottom: .1rem;
  }
}
