$background: #fff;
$title-color: #000;
$title-color-hover: #c2c7c9;
$listeners-color: #8c8b88;

.card {
  &.artist {
    background: $background;
    position: relative;

    a {
      color: $title-color;

      &:hover {
        color: $title-color-hover;
      }
    }

    .card-section {
      padding: .8rem;
      text-align: center;

      p {
        color: $listeners-color;
      }
    }
  }
}
